// Change to your own azure environment
subscription_id = "xxx-xxx-xxx"
client_id       = "xxx-xxx-xxx"
client_secret   = "xxxxxxxxx"
tenant_id       = "xxx-xxx-xxx"

prefix = "my-custom-prefix"
advpn-ipsec-psk = "PSK-sample-key"

