----------------------------------------
Remote ADVPN SPOKE
(complete with Terraform apply outputs)
----------------------------------------

config vpn ipsec phase1-interface
edit "spoke1-to-az"
set interface "<external interface>"
set peertype any
set net-device enable
set proposal aes128-sha256 aes256-sha256 aes128-sha1 aes256-sha1
set add-route disable
set dpd on-idle
set auto-discovery-receiver enable
set remote-gw ${advpn-public-ip} 
set psksecret ${advpn_ipsec-psk-key} 
set dpd-retryinterval 5
next   
end
config vpn ipsec phase2-interface
edit "spoke1-to-az"
set phase1name "spoke1-to-az"
set proposal aes128-sha1 aes256-sha1 aes128-sha256 aes256-sha256 aes128gcm aes256gcm chacha20poly1305
set auto-negotiate enable
next
end

config firewall policy
edit 110
set name "outbound_advpn"
set srcintf "<internal interface>"
set dstintf "spoke1-to-az"
set srcaddr "all"
set dstaddr "all"
set action accept
set schedule "always"
set service "ALL"
next
edit 111
set name "inbound_advpn"
set srcintf "spoke1-to-az"
set dstintf "<internal interface>"
set srcaddr "all"
set dstaddr "all"
set action accept
set schedule "always"
set service "ALL"
next
end

config system interface
edit "spoke1-to-az"
set ip 10.10.10.1 255.255.255.255
set remote-ip 10.10.10.254 255.255.255.0
next
end

config router ospf
set router-id 7.7.7.7
config area
edit 0.0.0.0
next
end
config network
edit 1
set prefix 10.10.10.0 255.255.255.0
next
edit 2
set prefix "<internal network CIDR>"
next
end
end





